@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
.navbar {
    height: 57px;
    width: 100%;
    background: linear-gradient(135deg, #122346, #110115);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    cursor: pointer;
    
}